@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --qr-card-color: hsl(0, 0%, 100%);
  --text-color: hsl(212, 45%, 89%);
  --body-background-color: #d5e1ef;
  --qr-color: hsl(218, 44%, 22%);
}

html {
  margin: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  background-color: var(--body-background-color);
  text-align: center;
  max-width: 1440px;
  min-width: 200px;
}

p {
  color: gray;
}

#body-wrap {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}



#wrapper {
  background-color: var(--qr-card-color);
  border-radius: 18px;
  display: flex;
  position: relative;
  width: 20rem;
  height: 31rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.3rem 1rem 0.5rem 1rem;
}

#qr-code {
  margin-bottom: 0.9rem;
}

#qr-code {
  width: 100%;
  border-radius: 4%;
}

#qr-desc { 
  font-weight: 700;
  line-height: 1.2;
  position: relative;
}

#qr-desc-2 {
  letter-spacing: 1px;
  line-height: 1.2;
  position: relative;
  bottom: 3%;
}

@media (min-width: 400px) {
  #body-wrap {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #wrapper {
    max-width: 50%;
  }
}